run = "python app.py"
modules = ["python-3.11", "nodejs-20", "web"]

[env]
PYTHONPATH = '${PYTHONPATH}:${REPL_HOME}'

[nix]
channel = "stable-24_05"

[languages.python]
pattern = '**/*.py'
syntax = 'python'

[languages.python.languageServer]
start = ['pylsp']

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "python app.py"]
